.row {
  display: flex;
  max-width: $grid-width;
  margin: auto;
  flex-wrap: wrap;
  gap: 6rem;
}

.col {
  flex: 1;
}
// .row {
//   max-width: $grid-width;
//   background-color: #eee;
//   margin: 0 auto;

//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//   }

//   @include clearfix;

//   .col-1-of-2 {
//     width: calc((100% - #{$gutter-horizontal}) / 2);
//     background-color: orangered;
//     float: left;

//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//     }
//   }

//   .col-1-of-3 {
//     width: calc((100% - 2 * #{$gutter-horizontal}) / 3);

//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//     }
//   }
// }
