.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s ease-out;
    position: relative;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-out;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.5rem 1rem;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &:hover {
    background: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.contact__link {
  display: inline-block;
  width: 70%;
  padding: 1.8rem;
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
  color: $color-grey-light-2;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.8rem;
  // background-image: linear-gradient(
  //   to right bottom,
  //   $color-primary-light,
  //   $color-primary-dark
  // );
  border: 2px solid $color-primary;
  color: $color-grey-dark-2;
  background-color: rgba($color-white, 0.4);
  &::after {
    background-color: $color-grey-light-2;
  }

  // &--1 {
  //   background-image: linear-gradient(
  //     to right bottom,
  //     $color-secondary-light,
  //     $color-secondary-dark
  //   );
  //   &::after {
  //     background-color: $color-secondary-dark;
  //   }
  // }
  // &--2 {
  //   background-image: linear-gradient(
  //     to right bottom,
  //     $color-primary-light,
  //     $color-primary-dark
  //   );
  //   &::after {
  //     background-color: $color-primary-dark;
  //   }
  // }
  // &--3 {
  //   background-image: linear-gradient(
  //     to right bottom,
  //     $color-tertiary-light,
  //     $color-tertiary-dark
  //   );
  //   &::after {
  //     background-color: $color-tertiary-dark;
  //   }
  // }
}
